:root {
	--bgColour: #696969;
	--charColour: #8f8f8f;
}

html {
	height: 100%;
}

body {
	background-color: var(--bgColour);
	height: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
	display: flex;
}

.p {
	width: 50%;
	height: auto;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.o1 {
	position: absolute;
	top: 40%;
	left: 20%;
	transform: translate(-50%, -50%);
}

.o2 {
	position: absolute;
	top: 30%;
	left: 40%;
	transform: translate(-50%, -50%);
}

.o3 {
	position: absolute;
	top: 30%;
	left: 60%;
	transform: translate(-50%, -50%);
}

.o4 {
	position: absolute;
	top: 40%;
	left: 80%;
	transform: translate(-50%, -50%);
}

/*
.p:hover {
	filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);
}
*/

.intro {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 2.7vw;
	width: 80%;
}

.left {
	flex: 1;
	position: relative;
}

.right {
	flex: 1;
	position: relative;
}

.questions {
	height: 30%;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	/*margin-bottom: 50px;*/
}

.questions > p {
	width: max-content;
	border: solid;
	margin: 10px;
	padding: 5px;
	border-color: var(--charColour);
	font-size: 1.1vw;
	transition: transform .2s;
	cursor: pointer;
}

.questions > p:hover {
	transform: scale(1.2);
}

.questions > h2 {
	text-align: center;
	margin: auto;
	padding: 5px;
	font-size: 1.5vw;
}

.a {
	position: relative;
	height: 70%;
	width: 100%;
	top: 0;
}

.ina {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.ina > p {
	text-align: center;
	font-size: 1.5vw;
}

span {
	border: solid;
	border-color: var(--charColour);
}
