:root {
	--bgColour: #696969;
	--charColour: #8f8f8f;
}

body {
	background-color: var(--bgColour);
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
}

/* border on transparent image
 * https://stackoverflow.com/questions/12690444/css-border-on-png-image-with-transparent-parts
 * only react when on non-transparent parts
 * https://developer.mozilla.org/en-US/docs/Web/HTML/Element/map
 * https://www.w3schools.com/htmL/html_images_imagemap.asp
 */
.p {
	width: 30%;
	height: auto;
}

.p:hover {
	filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white);
}
